@import "../variables";

.contacts__title {
  font-size: 25px;
  color: $color-text-bright;
  margin: 30px 0;
}

.contacts__wrap {
  padding: 0 $horizontal-page-padding-mobile;
}

.contacts__content {
  display: table;
  font-size: 15px;
  line-height: 30px;
}

.contacts__method {
  display: table-row;
}

.contacts__method-type,
.contacts__method-text, {
  display: table-cell;
}

.contacts__method-type {
  padding-right: 30px;
}

.contacts__method-text--email {
  padding-bottom: 4px;
  border-bottom: 1px solid $color-accent;
}

.contacts__method-text--address {
  padding-top: 30px;
}

.contacts__map {
  width: 100%;
  height: auto;
  margin-top: 30px;
}

.contacts__write-to-us-btn {
  margin-top: 30px;
}
