$page-header-height: 80px;

$horizontal-page-padding-mobile: 30px;

$color-dark-gray: #444444;
$color-teal: #63d1bb;
$color-teal-darker: #56c3b2;

$color-text-bright: black;
$color-text: $color-dark-gray;
$color-accent: $color-teal;
$color-accent-darker: $color-teal-darker;
